.product-card-button:hover {
  background-color: white;
  color: black;
}

.product-img {
  max-width: 35%;
}

.product-img:hover{
  opacity: 0.8;
}

.product-title:hover {
  text-decoration: underline;
}